<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.marketing_platform.RsCategoryMultiMapper">
  <resultMap id="BaseResultMap" type="com.demo.entity.RsCategoryMulti">
    <id column="multi_id" jdbcType="INTEGER" property="multiId" />
    <result column="cat_id" jdbcType="INTEGER" property="catId" />
    <result column="cat_name" jdbcType="VARCHAR" property="catName" />
    <result column="meta_title" jdbcType="VARCHAR" property="metaTitle" />
    <result column="meta_keywords" jdbcType="VARCHAR" property="metaKeywords" />
    <result column="language_flag" jdbcType="VARCHAR" property="languageFlag" />
    <result column="all_cat_name" jdbcType="VARCHAR" property="allCatName" />
    <result column="category_description_seo" jdbcType="VARCHAR" property="categoryDescriptionSeo" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.demo.entity.RsCategoryMultiWithBLOBs">
    <result column="meta_description" jdbcType="LONGVARCHAR" property="metaDescription" />
    <result column="cat_desc" jdbcType="LONGVARCHAR" property="catDesc" />
    <result column="attr_values_part" jdbcType="LONGVARCHAR" property="attrValuesPart" />
    <result column="attribute_title" jdbcType="LONGVARCHAR" property="attributeTitle" />
    <result column="left_description" jdbcType="LONGVARCHAR" property="leftDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    multi_id, cat_id, cat_name, meta_title, meta_keywords, language_flag, all_cat_name, 
    category_description_seo
  </sql>
  <sql id="Blob_Column_List">
    meta_description, cat_desc, attr_values_part, attribute_title, left_description
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.demo.entity.RsCategoryMultiExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rs_category_multi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.demo.entity.RsCategoryMultiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rs_category_multi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from rs_category_multi
    where multi_id = #{multiId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from rs_category_multi
    where multi_id = #{multiId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.entity.RsCategoryMultiExample">
    delete from rs_category_multi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.entity.RsCategoryMultiWithBLOBs">
    insert into rs_category_multi (multi_id, cat_id, cat_name, 
      meta_title, meta_keywords, language_flag, 
      all_cat_name, category_description_seo, meta_description, 
      cat_desc, attr_values_part, attribute_title, 
      left_description)
    values (#{multiId,jdbcType=INTEGER}, #{catId,jdbcType=INTEGER}, #{catName,jdbcType=VARCHAR}, 
      #{metaTitle,jdbcType=VARCHAR}, #{metaKeywords,jdbcType=VARCHAR}, #{languageFlag,jdbcType=VARCHAR}, 
      #{allCatName,jdbcType=VARCHAR}, #{categoryDescriptionSeo,jdbcType=VARCHAR}, #{metaDescription,jdbcType=LONGVARCHAR}, 
      #{catDesc,jdbcType=LONGVARCHAR}, #{attrValuesPart,jdbcType=LONGVARCHAR}, #{attributeTitle,jdbcType=LONGVARCHAR}, 
      #{leftDescription,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.entity.RsCategoryMultiWithBLOBs">
    insert into rs_category_multi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="multiId != null">
        multi_id,
      </if>
      <if test="catId != null">
        cat_id,
      </if>
      <if test="catName != null">
        cat_name,
      </if>
      <if test="metaTitle != null">
        meta_title,
      </if>
      <if test="metaKeywords != null">
        meta_keywords,
      </if>
      <if test="languageFlag != null">
        language_flag,
      </if>
      <if test="allCatName != null">
        all_cat_name,
      </if>
      <if test="categoryDescriptionSeo != null">
        category_description_seo,
      </if>
      <if test="metaDescription != null">
        meta_description,
      </if>
      <if test="catDesc != null">
        cat_desc,
      </if>
      <if test="attrValuesPart != null">
        attr_values_part,
      </if>
      <if test="attributeTitle != null">
        attribute_title,
      </if>
      <if test="leftDescription != null">
        left_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="multiId != null">
        #{multiId,jdbcType=INTEGER},
      </if>
      <if test="catId != null">
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null">
        #{catName,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null">
        #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="languageFlag != null">
        #{languageFlag,jdbcType=VARCHAR},
      </if>
      <if test="allCatName != null">
        #{allCatName,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescriptionSeo != null">
        #{categoryDescriptionSeo,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        #{metaDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="catDesc != null">
        #{catDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="attrValuesPart != null">
        #{attrValuesPart,jdbcType=LONGVARCHAR},
      </if>
      <if test="attributeTitle != null">
        #{attributeTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="leftDescription != null">
        #{leftDescription,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.entity.RsCategoryMultiExample" resultType="java.lang.Long">
    select count(*) from rs_category_multi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update rs_category_multi
    <set>
      <if test="record.multiId != null">
        multi_id = #{record.multiId,jdbcType=INTEGER},
      </if>
      <if test="record.catId != null">
        cat_id = #{record.catId,jdbcType=INTEGER},
      </if>
      <if test="record.catName != null">
        cat_name = #{record.catName,jdbcType=VARCHAR},
      </if>
      <if test="record.metaTitle != null">
        meta_title = #{record.metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.metaKeywords != null">
        meta_keywords = #{record.metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="record.languageFlag != null">
        language_flag = #{record.languageFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.allCatName != null">
        all_cat_name = #{record.allCatName,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryDescriptionSeo != null">
        category_description_seo = #{record.categoryDescriptionSeo,jdbcType=VARCHAR},
      </if>
      <if test="record.metaDescription != null">
        meta_description = #{record.metaDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.catDesc != null">
        cat_desc = #{record.catDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.attrValuesPart != null">
        attr_values_part = #{record.attrValuesPart,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.attributeTitle != null">
        attribute_title = #{record.attributeTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.leftDescription != null">
        left_description = #{record.leftDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update rs_category_multi
    set multi_id = #{record.multiId,jdbcType=INTEGER},
      cat_id = #{record.catId,jdbcType=INTEGER},
      cat_name = #{record.catName,jdbcType=VARCHAR},
      meta_title = #{record.metaTitle,jdbcType=VARCHAR},
      meta_keywords = #{record.metaKeywords,jdbcType=VARCHAR},
      language_flag = #{record.languageFlag,jdbcType=VARCHAR},
      all_cat_name = #{record.allCatName,jdbcType=VARCHAR},
      category_description_seo = #{record.categoryDescriptionSeo,jdbcType=VARCHAR},
      meta_description = #{record.metaDescription,jdbcType=LONGVARCHAR},
      cat_desc = #{record.catDesc,jdbcType=LONGVARCHAR},
      attr_values_part = #{record.attrValuesPart,jdbcType=LONGVARCHAR},
      attribute_title = #{record.attributeTitle,jdbcType=LONGVARCHAR},
      left_description = #{record.leftDescription,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update rs_category_multi
    set multi_id = #{record.multiId,jdbcType=INTEGER},
      cat_id = #{record.catId,jdbcType=INTEGER},
      cat_name = #{record.catName,jdbcType=VARCHAR},
      meta_title = #{record.metaTitle,jdbcType=VARCHAR},
      meta_keywords = #{record.metaKeywords,jdbcType=VARCHAR},
      language_flag = #{record.languageFlag,jdbcType=VARCHAR},
      all_cat_name = #{record.allCatName,jdbcType=VARCHAR},
      category_description_seo = #{record.categoryDescriptionSeo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.entity.RsCategoryMultiWithBLOBs">
    update rs_category_multi
    <set>
      <if test="catId != null">
        cat_id = #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null">
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
      <if test="metaTitle != null">
        meta_title = #{metaTitle,jdbcType=VARCHAR},
      </if>
      <if test="metaKeywords != null">
        meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      </if>
      <if test="languageFlag != null">
        language_flag = #{languageFlag,jdbcType=VARCHAR},
      </if>
      <if test="allCatName != null">
        all_cat_name = #{allCatName,jdbcType=VARCHAR},
      </if>
      <if test="categoryDescriptionSeo != null">
        category_description_seo = #{categoryDescriptionSeo,jdbcType=VARCHAR},
      </if>
      <if test="metaDescription != null">
        meta_description = #{metaDescription,jdbcType=LONGVARCHAR},
      </if>
      <if test="catDesc != null">
        cat_desc = #{catDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="attrValuesPart != null">
        attr_values_part = #{attrValuesPart,jdbcType=LONGVARCHAR},
      </if>
      <if test="attributeTitle != null">
        attribute_title = #{attributeTitle,jdbcType=LONGVARCHAR},
      </if>
      <if test="leftDescription != null">
        left_description = #{leftDescription,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where multi_id = #{multiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.demo.entity.RsCategoryMultiWithBLOBs">
    update rs_category_multi
    set cat_id = #{catId,jdbcType=INTEGER},
      cat_name = #{catName,jdbcType=VARCHAR},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      language_flag = #{languageFlag,jdbcType=VARCHAR},
      all_cat_name = #{allCatName,jdbcType=VARCHAR},
      category_description_seo = #{categoryDescriptionSeo,jdbcType=VARCHAR},
      meta_description = #{metaDescription,jdbcType=LONGVARCHAR},
      cat_desc = #{catDesc,jdbcType=LONGVARCHAR},
      attr_values_part = #{attrValuesPart,jdbcType=LONGVARCHAR},
      attribute_title = #{attributeTitle,jdbcType=LONGVARCHAR},
      left_description = #{leftDescription,jdbcType=LONGVARCHAR}
    where multi_id = #{multiId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.entity.RsCategoryMulti">
    update rs_category_multi
    set cat_id = #{catId,jdbcType=INTEGER},
      cat_name = #{catName,jdbcType=VARCHAR},
      meta_title = #{metaTitle,jdbcType=VARCHAR},
      meta_keywords = #{metaKeywords,jdbcType=VARCHAR},
      language_flag = #{languageFlag,jdbcType=VARCHAR},
      all_cat_name = #{allCatName,jdbcType=VARCHAR},
      category_description_seo = #{categoryDescriptionSeo,jdbcType=VARCHAR}
    where multi_id = #{multiId,jdbcType=INTEGER}
  </update>
</mapper>